.navbar{
    color: #fff;
    background-color: #180;
}
@media (min-width: 768px) {
    .logo {
        width: 100%;
    }
    .navbar-expand-md {
        flex-wrap: wrap;
    }
}
a.logo {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #cf0;
    font-size: .75em;
    line-height: 1.5em;
}
@media (max-width: 380px) {
    a.logo {
        font-size: calc((100vw - 4.5rem) / 26);
    }
}
.logo img {
	filter: drop-shadow(.5pt .5pt 0 #fff);
    height: 2.5em;
    margin: .125em .5em 0 0;
}
.logo > div > :first-child {
	font-size: 1.5em;
	text-align: center;
	color: #71d400;
	font-weight: bold;
}
input.nav-link{
    border: none;
    background: none;
}
.navbar-item{
    padding: .5rem 0;
}
input{
    display: block;
}
.formbox{
    max-width: 22em;
    margin-left: auto;
    margin-right: auto;
}
